.Recipe-details {
  margin-top: 30px;
}

.Recipe-image {
  margin-top: 30px;
  box-shadow: 0px 0px 5px #888;
}

.Recipe-ingredient {
  margin: 15px 0;
}

.Recipe-instruction {
  margin: 20px 0;
}

.Recipe-instructionNumber {
  color: #666;
  font-weight: bold;
  font-size: 20px;
}
