<!DOCTYPE html>
<html>
<head>
  <title>BlogApi</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
  <body>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
